name: Brew Check
on: [push]
jobs:
  build:
    runs-on: macos-15
    steps:
    - uses: actions/checkout@v4
    - name: brew install/test
      run: |
        ruby -c nyan.rb
        ruby -c Casks/nyan.rb
